body{
    background-color: white;
}
.holecontainer{
    overflow-y: scroll;
}

.content{
    width: 40%;
    border: 2px solid black;
    position: absolute;
    left: 25%;
    margin-top: 50px;
    padding: 20px;

}
label{
    margin-right: 15px;
}
input{
    width: 50%;
    margin: 10px;

}
input[name="city"]{
    width: 35%;
}
input[name="state"]{
    width: 10%;
}
.tabledata{
    position: absolute;
    width: 100%;
    top: 75%;
}
